<!DOCTYPE html>
<html>
<body>

	<h4> Please enter your information below </h4>
	<form action="" method = "POST">
		<div class="form-group">
			Sex (male or female): <input type="text" name="user_sex" ><br>
			Height (cm): <input type="text" name="user_height" ><br>
			Weight (kg) : <input type="text" name="user_weight" ><br>
			Age (years): <input type="text" name="user_age" ><br>
			Minimum Walking distance (miles): <input type="text" name="user_miles_goal" ><br>
		</div>

		<input type="submit" name = "Continue"/>

	</form>
</body>
</html>
