<html>

  <head>
    <title>CS411 Project</title>
  </head>
  {% if message %}
  <h4>{{message}}!</h4>
  {% endif %}

  <body align ="center">

    <h4>Please enter your schedule for today: </h4>

    <form id="index" action="/" method="POST">
      <div class="form-group">
      <p> Event Name:<input type="text" name="event1_name" /></p>
      <p> Start Time:<input type="time" name="event1_start" /> </p>
      <p> End Time:<input type="time" name="event1_end" /> </p>
      <p> Location:<input type="text" name="location1" /></p>

      <p> Event Name:<input type="text" name="event2_name" /> </p>
      <p> Start Time:<input type="time" name="event2_start" /> </p>
      <p> End Time:<input type="time" name="event2_end" /> </p>
      <p> Location:<input type="text" name="location2" /></p>

      <p> Event Name:<input type="text" name="event3_name" /> </p>
      <p> Start Time:<input type="time" name="event3_start" /> </p>
      <p> End Time:<input type="time" name="event3_end" /> </p>
      <p> Location:<input type="text" name="location3" />

      <p> Event Name:<input type="text" name="event4_name" /> </p>
      <p> Start Time:<input type="time" name="event4_start" /> </p>
      <p> End Time:<input type="time" name="event4_end" /> </p>
      <p> Location:<input type="text" name="location4" /></p>

      <p> Minimum walking distance:<input type="number" name="dist" /> </p>
    </div>
      <input type="submit" name="Submit"/>

    </form>

  </body>
  
</html>
    
    
