<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-up!</title>
</head>
<body>
<!--| Email        | varchar(100) | NO   | UNI | NULL              |                |-->
<!--| Password     | varchar(128) | NO   |     | NULL              |                |-->
<!--| Status       | varchar(20)  | NO   |     | NULL              |                |-->
<!--| Type         | varchar(20)  | NO   |     | NULL-->
<!--| UserName     | varchar(100) | NO   |     | NULL              |                |-->
<!--| Weight       | float        | NO   |     | NULL              |                |-->
<!--| Height       | float        | NO   |     | NULL              |                |-->
<!--| Age          | int(8)       | NO   |     | NULL              |                |-->
<!--| Progress     | varchar(200) | YES  |     | NULL              |-->

<h1>Sign Up now:</h1>
    <form id="register" method="POST" action="/register/" >
        <div class="form-group">
            <input type="text" class="form-control" placeholder="you@bu.edu" name="email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="age" name="age">
        </div>
        <div class="form-group">
            <input type="text" class="form-control"  placeholder="Height" name="height">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Weight" name="weight">
        </div>
        <button type="submit" value="submit" class="btn btn-default submit">Sign Up Now!</button>
    </form>
</body>
</html>